@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Cor padrão inicial (Azul Horizon) */
  --brand-color: #2563eb; 
}

/* Classes utilitárias que aceitam a cor dinâmica */
@utility bg-brand {
  background-color: var(--brand-color);
}
@utility text-brand {
  color: var(--brand-color);
}
@utility border-brand {
  border-color: var(--brand-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}